@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

    :root {
        --black: #130f0d;
        --primary: rgba(168, 241, 241, 0.63);
        --white: #f0f0f9;
    }
    *, 
    button,
    input {
        font-family: 'Roboto', sans-serif;
    }

    body {
        background-color: var(--black);
        color: var(--white);
    }

    header {
        display: flex;
        justify-content: center;;

/*         box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2); */
        padding: 16px;
    }

    #paginate {
        width: 100%;

        margin: 32px auto;
    }

    #paginate .item {
        border-bottom: 1px solid hsl(32, 98%, 12%);
        padding: 16px 32px;
    }

    #paginate .item:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }

    #paginate .controls {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 8px;
    }

    #paginate .controls div {
        cursor: pointer;

        /* border: 1px solid #eee; */

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14;
    }

    #paginate .controls div:not(.numbers),
    #paginate .controls div.numbers div{
        width: 40px;
        height: 40px;
    }

    #paginate .controls div.numbers div:hover,
    #paginate .controls div.numbers div.active {
        color: var(--primary);
    }

    #bloco {
        width: auto;
        height: 25px;
        border-radius: 0.5em;
        position: sticky;
        left: 500px;
        text-align: center;
    }
    #search{
        width: 300px;
        height: 25px;
        border-radius: 0.5em;
    }

    #search input {
        width: 100%;
        height: 100%;

        border: none;
        border-bottom: 1px solid var(--primary);

        background-color: transparent;
        color: var(--white);
    }

    #match-list{
        margin-left: auto;
        margin-top: auto;
        text-align: center;
        padding: 2em 0em 0em 0em;
    }
    #match-list div:hover{
        color: var(--primary);
    }

    #it{
        background-color: rgba(168, 241, 241, 0.63);
        padding: 2em;
        margin: 4em 4em 4em 4em;
        border-radius: 1em;
    }